## Challenge #193: Unofficial Holidays
Original challenge: https://community.alteryx.com/t5/Weekly-Challenge/Challenge-193-Unofficial-Holidays/td-p/500029

List the unofficial holidays provided in the input in chronological order.

In [7]:
import pandas as pd

In [27]:
#read files and exlore data
df = pd.read_csv(".Challenge 193/challenge_193_input.csv")
df

                                        event            day
0                        National Trivia Day       January 4
1                       National Hugging Day      January 21
2                    Celebration of Life Day      January 22
3                      National Opposite Day      January 25
4                        National Puzzle Day      January 29
..                                        ...            ...
381                       National Radio Day       August 20
382                 National Video Games Day    September 12
383                International Podcast Day    September 30
384  National Clean Your Virtual Desktop Day      October 17
385                    National Internet Day      October 29

[386 rows x 2 columns]

In [29]:
#remove leading and trailing whitespace
df = df.apply(lambda x: x.str.strip())
df

In [32]:
#change date format from string to datetime so it can be sorted
df["date"] = pd.to_datetime(df["day"], format = "%B %d")

In [33]:
df.sort_values(by = "date", inplace = True)
df

                                           event          day       date
0                            National Trivia Day    January 4 1900-01-04
179                       National Spaghetti Day    January 4 1900-01-04
331               National Dress Up Your Pet Day   January 14 1900-01-14
173                             National Hat Day   January 15 1900-01-15
180                         National Popcorn Day   January 19 1900-01-19
..                                           ...          ...        ...
359  Answer The Telephone Like Buddy The Elf Day  December 18 1900-12-18
143                                  Sangria Day  December 20 1900-12-20
71                 National Crossword Puzzle Day  December 21 1900-12-21
72                   National Thank You Note Day  December 26 1900-12-26
310                           National Bacon Day  December 30 1900-12-30

[386 rows x 3 columns]

In [34]:
#delete date column
del df["date"]

                                           event          day
0                            National Trivia Day    January 4
179                       National Spaghetti Day    January 4
331               National Dress Up Your Pet Day   January 14
173                             National Hat Day   January 15
180                         National Popcorn Day   January 19
..                                           ...          ...
359  Answer The Telephone Like Buddy The Elf Day  December 18
143                                  Sangria Day  December 20
71                 National Crossword Puzzle Day  December 21
72                   National Thank You Note Day  December 26
310                           National Bacon Day  December 30

[386 rows x 2 columns]